td.modal-player a {
    font-weight: bold;
    padding-left: 3.5em;
}

.bar-div {
    position: relative;
    height:35vh; 
    width:90%;
}

.modal-player-pic {
    height: 20vh;
    margin-left:10%;
    margin-top: 2vh;
}

#contained-modal-title-lg{
    text-align: center;
}