.stats-table-load-status {
    position:relative;
    top: 20em;
}


.stat-player-selected {
    font-weight: bold;
}

.custom-modal{
    width: 90%;
}

.react-bs-table-pagination {
    padding-bottom: 8em;
}


/* Buttons */

.main-button-toolbar {
    padding-bottom: 1em;
}

#show-modal-button {
    float: right;
}

.reg-stats-button {
    margin: 0 2em;
}

.espn-stats-button {
    margin: 0 2em;
}